// Note: Quickfeather uses the QFN package so the format is: set <signal name> <QFN pin #>
set_io X		64
set_io Y		62
set_io Z		63

set_io optiona		59
set_io optionb		57
set_io optionc		56
set_io optiond		55
